<% provide(:title, "Check for Updated Parks") %>

<h4>Check Databases for Changes</h4>

<%= bootstrap_form_tag(url: '/check/since', layout: :horizontal) do |f| %>
  <%= f.date_field :date_since, label: 'Changes Since: ', value: @since %>
  <%= f.form_group :database do %>
    <%= f.radio_button :database, 'CATALOGUE', label: "Central Catalogue", checked: @check_array[0] %>
    <%= f.radio_button :database, 'RVPARKY', label: "RVParky", checked: @check_array[1] %>
    <%= f.radio_button :database, 'BOTH', label: "Both", checked: @check_array[2] %>
  <% end %>
  <%= f.check_box :redirect, checked: @redirect do %>
    Automatically follow 301 redirects when encountered
  <% end %>
  <%= f.check_box :ignore_invalid, checked: @invalid do %>
    Only add entries with a valid UUID and Slug.
  <% end %>
  <%= f.check_box :ignore_wait, checked: @wait do %>
    Select this checkbox to ignore warnings, such as excessively long processing times.
  <% end %>
  <%= f.primary 'Check Databases' %>
<% end %>

<hr />

<h4>Check Pending Parks</h4>

<div class="progress" total-parks=<%= PendingPark.all.count %>>
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
       role="progressbar"
       style="width: 0%"></div>
</div>
<center>
  <div>0/<%= PendingPark.all.count.to_s %></div>
</center>

<input type="button" value="Check Pending Parks" class="btn btn-primary" pending="true">
