<% provide(:title, @title) %>

<%= render 'layouts/park_tabs' %>

<br />

<h4><%= @park.name %> <%= generate_badge(@park.status, @park.editable) %></h4>

<br />

<%= bootstrap_form_for(@park) do |f| %>
  <%= f.text_field :name, value: @name %>
  <%= f.text_field :uuid, value: @uuid %>
  <%= f.text_field :slug, value: @slug %>
  <%= f.text_field :rvparky_id, value: @id %>
  <% if @park.status.include? '301' %>
    <%= f.submit "Follow 301 Code", class: "btn btn-success" %>
  <% end %>
  <%= f.submit 'Change Values' %>
<% end %>