<% provide(:title, @title) %>

<%= render 'layouts/park_tabs' %>

<br />

<%= #render 'layouts/index_filter' if @filter.present?
  %>

<div class="collapse" id="filterCollapse">
  <div class="card card-body">
    <%= bootstrap_form_tag url: '/marked_park/filter', layout: :inline do |f| %>
      <%= f.text_field :filter, hide_label: true, value: @filter %>
      <%= f.submit 'Filter', class: "btn btn-primary" %>
      <%= f.submit 'Clear', class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<br />

<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">UUID</th>
      <th scope="col">Slug</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @parks.each do |park| %>
      <tr>
        <th scope="row"> <%= park.name %> </th>
        <td> <%= park.uuid unless park.uuid.include?('NULL') %> </td>
        <td> <%= park.slug unless park.slug.include?('NULL') %> </td>
        <td> <%= generate_badge(park.status, park.editable) %>  </td>
        <td>
          <div class="btn-group" role="group" aria-label="User Actions">
            <%= link_to(marked_park_path(park), :class => 'nav-link') do %>
              <i class="fas fa-info-circle"></i>
            <% end %>

            <% # Javascript doesn't load/update properly unless you include method: :get in link_to
            %>
            <%= link_to(edit_marked_park_path(park), :class => 'nav-link', method: :get) do %>
              <i class="fas fa-screwdriver"></i>
            <% end %>

            <% # Javascript doesn't load/update properly unless you include method: :get in link_to
            %>
            <%= link_to(marked_park_quick_path(park), :class => 'nav-link', method: :get) do %>
              <i class="fas fa-marker"></i>
            <% end if park.editable? %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= paginate @parks %>