<% provide(:title, @title) %>

<%= render 'layouts/park_tabs' %>

<br />

<h4><%= @park.name %> <%= generate_badge(@park.status, @park.editable) %></h4>

<br />

<%= bootstrap_form_tag do |f| %>
  <%= generate_quick_global_buttons(f) %>

  <hr />

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">CATALOGUE</th>
        <th scope="col">RVPARKY</th>
      </tr>
    </thead>
    <tbody>
      <% @differences.each do |diff| %>
        <% unless diff.match? || diff.catalogue_field == 'review_count' || diff.catalogue_field == 'rating' %>
          <%= generate_quick_fields(f, diff, @previous_values) %>
        <% end%>
      <% end %>
    </tbody>
  </table>

  <%= generate_quick_global_buttons(f) %>

<% end %>