<% provide(:title, @title) %>

<%= render 'layouts/park_tabs' %>

<br />

<div class="panel-group" id="accordion">
  <%= collapse_button_generator('Amenities') %>

  <%= collapse_button_generator('Cobrands') %>

  <%= collapse_button_generator('Images') %>

  <%= collapse_generator('Amenities', generate_amenities_entry, @park.amenities) %>

  <%= collapse_generator('Cobrands', generate_cobrands_entry, @park.cobrands) %>

  <%= collapse_generator('Images', generate_images_entry, @park.images)%>
</div>

<br />