<% provide(:title, @title) %>

<%= render 'layouts/park_tabs' %>

<br />

<% if @catalogue.present? %>
  <h3>Catalogue Information:</h3>

  <h4> <%= @catalogue.name %> </h4>

  <%= @catalogue.uuid + ' (' + @catalogue.type + ')' %> <br />

  <% if @catalogue.alternativeName.present?%>
    <%= 'Alternative Name: ' + @catalogue.alternativeName %>
    <br />
  <% end %>

  <% if @catalogue.formerName.present?%>
    <%= 'Former Name: ' + @catalogue.formerName %>
    <br />
  <% end %>

  <% if @catalogue.bounceCode.present? %>
    <%= 'Bounce Code: ' + @catalogue.bounceCode %>
    <br />
  <% end %>

  <%= 'Address: ' + @catalogue.address + ', ' + @catalogue.city + ', ' + @catalogue.stateName + ' (' + @catalogue.stateCode + '), ' + @catalogue.countryName + ' (' + @catalogue.countryCode + ')' %>

  <%= @catalogue.postalCode if @catalogue.postalCode.present? %><br />

  <% if @catalogue.phone.present? %>
    <%= 'Phone Number: ' + @catalogue.phone%>
    <br />
  <% end %>

  <% if @catalogue.email.present?%>
    <%= 'Email: ' + @catalogue.email %>
    <br />
  <% end %>

  <% if @catalogue.website.present?%>
    <%= 'Website: ' + @catalogue.website %>
    <br />
  <% end %>

  <% if @catalogue.latitude.present? && @catalogue.longitude.present?%>
    <%= 'GPS Coordinates: (' + @catalogue.latitude.to_s + ', ' + @catalogue.longitude.to_s + ')' %>
    <br />
  <% end %>

  <% if @catalogue.description.present?%>
    <%= 'Description: ' + @catalogue.description %>
    <br />
  <% end %>

  <% if @catalogue.descriptionShort.present?%>
    <%= 'Short Description: ' + @catalogue.descriptionShort %>
    <br />
  <% end %>

  <% if @catalogue.directions.present?%>
    <%= 'Directions: ' + @catalogue.directions %>
    <br />
  <% end %>

  <% if @catalogue.rating.present?%>
    <%= 'Rating: ' + @catalogue.rating.to_s %>
    <br />
  <% end %>

  <br />

  <div class="panel-group" id="accordion">
    <%= collapse_button_generator('Amenities') if @catalogue.amenities.present? %>

    <%= collapse_button_generator('Cobrands') if @catalogue.cobrands.present? %>

    <%= collapse_button_generator('Images', 'C') if @catalogue.images.present? %>

    <%= collapse_button_generator('Memberships') if @catalogue.memberships.present? %>

    <%= collapse_button_generator('Nearbies') if @catalogue.nearbies.present? %>

    <%= collapse_button_generator('Payments') if @catalogue.payments.present? %>

    <%= collapse_button_generator('Rates') if @catalogue.rates.present? %>

    <%= collapse_button_generator('Reviews', 'C') if @catalogue.reviews.present? %>

    <%= collapse_button_generator('Tags') if @catalogue.tags.present? %>

    <%= collapse_generator('Amenities', generate_amenities_entry, @catalogue.amenities) if @catalogue.amenities.present? %>

    <%= collapse_generator('Cobrands', generate_cobrands_entry, @catalogue.cobrands) if @catalogue.cobrands.present? %>

    <%= collapse_generator('Images', generate_cimages_entry, @catalogue.images, 'C') if @catalogue.images.present? %>

    <%= collapse_generator('Memberships', generate_memberships_entry, @catalogue.memberships) if @catalogue.memberships.present? %>

    <%= collapse_generator('Nearbies', generate_nearbies_entry, @catalogue.nearbies) if @catalogue.nearbies.present? %>

    <%= collapse_generator('Payments', generate_payments_entry, @catalogue.payments) if @catalogue.payments.present? %>

    <%= collapse_generator('Rates', generate_rates_entry, @catalogue.rates) if @catalogue.rates.present? %>

    <%= collapse_generator('Reviews', generate_creviews_entry, @catalogue.reviews, 'C') if @catalogue.reviews.present? %>

    <%= collapse_generator('Tags', generate_tags_entry, @catalogue.tags) if @catalogue.tags.present? %>
  </div>

  <hr />
<% end %>

<% if @rvparky.present? %>
  <h3>RVParky Information:</h3>

  <h4> <%= @rvparky.name %> </h4>

  <%= @rvparky.slug + ' (' + @rvparky.category + ')'%> <br/>

  <% if @rvparky.alsoKnownAs.present?%>
    <%= 'Alternative Name: ' + @rvparky.alsoKnownAs %>
    <br />
  <% end %>

  <% if @rvparky.formerlyKnownAs.present?%>
    <%= 'Former Name: ' + @rvparky.formerlyKnownAs %>
    <br />
  <% end %>

  <%= 'Address: ' %>
  <%= @rvparky.address + ', ' if @rvparky.address.present? %>
  <%= @rvparky.city + ', ' + @rvparky.region %>
  <%= @rvparky.zip_code if @rvparky.zip_code.present? %><br/>

  <% if @rvparky.phone_number.present? %>
    <%= 'Phone Number: ' + @rvparky.phone_number %>
    <br />
  <% end %>

  <% if @rvparky.website.present?%>
    <%= 'Website: ' + @rvparky.website %>
    <br />
  <% end %>

  <% if @rvparky.reservation_url.present? %>
    <%= 'Reservation: ' + @rvparky.reservation_url %>
    <br />
  <% end %>

  <% if @rvparky.latitude.present? && @rvparky.longitude.present?%>
    <%= 'GPS Coordinates: (' + @rvparky.latitude.to_s + ', ' + @rvparky.longitude.to_s + ')' %>
    <br />
  <% end %>

  <% if @rvparky.inSeasonDates.present? %>
    <%= 'Inseason: ' + @rvparky.inSeasonDates %>
    <br />
  <% end %>

  <% if @rvparky.offSeasonDates.present? %>
    <%= 'Offseason: ' + @rvparky.offSeasonDates%>
    <br />
  <% end %>

  <% if @rvparky.open_dates.present? %>
    <%= 'Open Dates: ' + @rvparky.open_dates %>
    <br />
  <% end %>

  <% if @rvparky.closed.present? %>
    <%= 'Closed Dates: ' + @rvparky.closed %>
    <br />
  <% end %>

  <%= 'Sites: ' + @rvparky.sites.to_s %> <br />

  <% if @rvparky.dailyRate.present? %>
    <%= 'Daily Rate: ' + @rvparky.dailyRate.to_s %>
    <%= ' (' + @rvparky.dailyRateUpdated + ')' if @rvparky.dailyRateUpdated.present? %>
    <br />
  <% end %>

  <% if @rvparky.dailyRate_offseason.present? %>
    <%= 'Offseason Daily Rate: ' + @rvparky.dailyRate_offseason.to_s %>
    <br />
  <% end %>

  <% if @rvparky.weeklyRate.present? %>
    <%= 'Weekly Rate: ' + @rvparky.weeklyRate.to_s %>
    <%= ' (' + @rvparky.weeklyRateUpdated + ')' if @rvparky.weeklyRateUpdated.present? %>
    <br />
  <% end %>

  <% if @rvparky.weeklyRate_offseason.present? %>
    <%= 'Offseason Weekly Rate: ' + @rvparky.weeklyRate_offseason.to_s %>
    <br />
  <% end %>

  <% if @rvparky.monthlyRate.present? %>
    <%= 'Monthly Rate: ' + @rvparky.monthlyRate.to_s %>
    <%= ' (' + @rvparky.monthlyRateUpdated + ')' if @rvparky.monthlyRateUpdated.present? %>
    <br />
  <% end %>

  <% if @rvparky.monthlyRate_offseason.present? %>
    <%= 'Offseason Monthly Rate: ' + @rvparky.monthlyRate_offseason.to_s  %>
    <br />
  <% end %>

  <% if @rvparky.seasonalRates.present? && @rvparky.seasonalRates != 0 %>
    <%= 'Seasonal Rates: ' + @rvparky.seasonalRates.to_s %>
    <br />
  <% end %>

  <% if @rvparky.discounts.present? %>
    <%= 'Discounts: ' + @rvparky.discounts %>
    <br />
  <% end%>

  <% if @rvparky.description.present?%>
    <%= 'Description: ' + @rvparky.description %>
    <br />
  <% end %>

  <%= 'Rating: ' + @rvparky.rating.to_s %> <br />

  <% if @rvparky.review_count.present?%>
    <%= 'Total Reviews: ' + @rvparky.review_count.to_s %>
    <br />
  <% end %>

  <% if @rvparky.amenities.present? %>
    <h5> Amenities: </h5>
    <% @rvparky.amenities.each do |amenity| %>
      <%= amenity.to_s %><%= ', ' unless amenity == @rvparky.amenities.last %>
    <% end %>
    <br />
  <% end %>

  <% if @rvparky.attributes.present? %>
    <h5> Attributes: </h5>
    <% @rvparky.attributes.each do |attribute| %>
      <%= attribute.to_s %><%= ', ' unless attribute == @rvparky.attributes.last %>
    <% end %>
    <br />
  <% end %>

  <br />

  <div class="panel-group" id="accordion">
    <%= collapse_button_generator('Images', 'R') if @rvparky.images.present? %>

    <%= collapse_button_generator('Reviews' , 'R') if @rvparky.reviews.present? %>

    <%= collapse_generator('Images', generate_rimages_entry, @rvparky.images, 'R') if @rvparky.images.present? %>

    <%= collapse_generator('Reviews', generate_rreviews_entry, @rvparky.reviews, 'R') if @rvparky.reviews.present? %>
  </div>

  <hr />
<% end %>

<% if @differences.present?%>
  <h4>Differences:</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h6>CATALOGUE:</h6>
    </div>
    <div class="col">
      <h6>RVPARKY:</h6>
    </div>
  </div>
  <% @differences.each do |diff| %>
    <% unless diff.match? %>
      <div class="row">
        <div class="col">
          <%= diff.catalogue_field + ': ' %>
          <%= diff.catalogue_value.to_s unless diff.catalogue_value.blank? %>
          <%= '[Blank]' if diff.catalogue_value.blank? %>
        </div>
        <div class="col">
          <%= diff.rvparky_field + ': '%>
          <%= diff.rvparky_value.to_s unless diff.rvparky_value.blank? %>
          <%= '[Blank]' if diff.rvparky_value.blank? %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% end %>
