<% provide(:title, @title) %>

<%= render 'layouts/park_tabs' %>

<br />

<% if @catalogue.present? %>
  <h3>Catalogue Information:</h3>

  <h4> <%= @catalogue.name %> </h4>

  <%= @catalogue.uuid + ' (' + @catalogue.type + ')' %> <br />

  <%= field_value_styler('Alternative Name:', @catalogue.alternativeName) if @catalogue.alternativeName.present?%>

  <%= field_value_styler('Former Name:', @catalogue.formerName) if @catalogue.formerName.present?%>

  <%= field_value_styler('Bounce Code:', @catalogue.bounceCode) if @catalogue.bounceCode.present? %>

  <b>Address: </b>
  <%= @catalogue.address + ', ' + @catalogue.city + ', ' + @catalogue.stateName + ' (' + @catalogue.stateCode + '), ' + @catalogue.countryName + ' (' + @catalogue.countryCode + ')' %>
  <%= @catalogue.postalCode if @catalogue.postalCode.present? %><br />

  <%= field_value_styler('Phone Number:', @catalogue.phone) if @catalogue.phone.present? %>

  <%= field_value_styler('Email:', @catalogue.email) if @catalogue.email.present? %>

  <%= field_value_styler('Website:', @catalogue.website) if @catalogue.website.present? %>

  <%= field_value_styler('GPS Coordinates:', '(' + @catalogue.latitude.to_s + ', ' + @catalogue.longitude.to_s + ')') if @catalogue.latitude.present? && @catalogue.longitude.present?%>

  <%= field_value_styler('Description:', @catalogue.description) if @catalogue.description.present? %>

  <%= field_value_styler('Description Short:', @catalogue.descriptionShort) if @catalogue.descriptionShort.present? %>

  <%= field_value_styler('Directions:', @catalogue.directions) if @catalogue.directions.present? %>

  <%= field_value_styler('Rating:', @catalogue.rating.to_s) if @catalogue.rating.present?%>

  <br />

  <div class="panel-group" id="accordion">
    <%= collapse_button_generator('Amenities') if @catalogue.amenities.present? %>

    <%= collapse_button_generator('Cobrands') if @catalogue.cobrands.present? %>

    <%= collapse_button_generator('Images', 'C') if @catalogue.images.present? %>

    <%= collapse_button_generator('Memberships') if @catalogue.memberships.present? %>

    <%= collapse_button_generator('Nearbies') if @catalogue.nearbies.present? %>

    <%= collapse_button_generator('Payments') if @catalogue.payments.present? %>

    <%= collapse_button_generator('Rates') if @catalogue.rates.present? %>

    <%= collapse_button_generator('Reviews', 'C') if @catalogue.reviews.present? %>

    <%= collapse_button_generator('Tags') if @catalogue.tags.present? %>

    <%= collapse_generator('Amenities', generate_amenities_entry, @catalogue.amenities) if @catalogue.amenities.present? %>

    <%= collapse_generator('Cobrands', generate_cobrands_entry, @catalogue.cobrands) if @catalogue.cobrands.present? %>

    <%= collapse_generator('Images', generate_cimages_entry, @catalogue.images, 'C') if @catalogue.images.present? %>

    <%= collapse_generator('Memberships', generate_memberships_entry, @catalogue.memberships) if @catalogue.memberships.present? %>

    <%= collapse_generator('Nearbies', generate_nearbies_entry, @catalogue.nearbies) if @catalogue.nearbies.present? %>

    <%= collapse_generator('Payments', generate_payments_entry, @catalogue.payments) if @catalogue.payments.present? %>

    <%= collapse_generator('Rates', generate_rates_entry, @catalogue.rates) if @catalogue.rates.present? %>

    <%= collapse_generator('Reviews', generate_creviews_entry, @catalogue.reviews, 'C') if @catalogue.reviews.present? %>

    <%= collapse_generator('Tags', generate_tags_entry, @catalogue.tags) if @catalogue.tags.present? %>
  </div>

  <hr />
<% end %>

<% if @rvparky.present? %>
  <h3>RVParky Information:</h3>

  <h4> <%= @rvparky.name %> </h4>

  <%= @rvparky.slug + ' (' + @rvparky.category + ')'%> <br/>

  <%= field_value_styler('Alternative Name:', @rvparky.alsoKnownAs) if @rvparky.alsoKnownAs.present? %>

  <%= field_value_styler('Former Name:', @rvparky.formerlyKnownAs) if @rvparky.formerlyKnownAs.present? %>

  <b>Address:</b>
  <%= @rvparky.address + ', ' if @rvparky.address.present? %>
  <%= @rvparky.city + ', ' + @rvparky.region %>
  <%= @rvparky.zip_code if @rvparky.zip_code.present? %><br/>

  <%= field_value_styler('Phone Number:', @rvparky.phone_number) if @rvparky.phone_number.present? %>

  <%= field_value_styler('Website:', @rvparky.website) if @rvparky.website.present?%>

  <%= field_value_styler('Reservation:', @rvparky.reservation_url) if @rvparky.reservation_url.present? %>

  <%= field_value_styler('GPS Coordinates:', '(' + @rvparky.latitude.to_s + ', ' + @rvparky.longitude.to_s + ')') if @rvparky.latitude.present? && @rvparky.longitude.present? %>

  <%= field_value_styler('Inseason:', @rvparky.inSeasonDates) if @rvparky.inSeasonDates.present? %>

  <%= field_value_styler('Offseason:', @rvparky.offSeasonDates) if @rvparky.offSeasonDates.present? %>

  <%= field_value_styler('Open Dates:', @rvparky.open_dates) if @rvparky.open_dates.present? %>

  <%= field_value_styler('Closed Dates:', @rvparky.closed) if @rvparky.closed.present? %>

  <b>Sites:</b>
  <%= @rvparky.sites.to_s %> <br />

  <% if @rvparky.dailyRate.present? %>
    <b>Daily Rate:</b>
    <%= @rvparky.dailyRate.to_s %>
    <%= ' (' + @rvparky.dailyRateUpdated + ')' if @rvparky.dailyRateUpdated.present? %>
    <br />
  <% end %>

  <%= field_value_styler('Offseason Daily Rate:', @rvparky.dailyRate_offseason) if @rvparky.dailyRate_offseason.present? %>

  <% if @rvparky.weeklyRate.present? %>
    <b>Weekly Rate:</b>
    <%= @rvparky.weeklyRate.to_s %>
    <%= ' (' + @rvparky.weeklyRateUpdated + ')' if @rvparky.weeklyRateUpdated.present? %>
    <br />
  <% end %>

  <%= field_value_styler('Offseason Weekly Rate:', @rvparky.weeklyRate_offseason) if @rvparky.weeklyRate_offseason.present? %>

  <% if @rvparky.monthlyRate.present? %>
    <b>Monthly Rate:</b>
    <%= @rvparky.monthlyRate.to_s %>
    <%= ' (' + @rvparky.monthlyRateUpdated + ')' if @rvparky.monthlyRateUpdated.present? %>
    <br />
  <% end %>

  <%= field_value_styler('Offseason Monthly Rate:', @rvparky.monthlyRate_offseason) if @rvparky.monthlyRate_offseason.present? %>

  <%= field_value_styler('Seasonal Rates:', @rvparky.seasonalRates) if @rvparky.seasonalRates.present? && @rvparky.seasonalRates != 0 %>

  <%= field_value_styler('Discounts:', @rvparky.discounts) if @rvparky.discounts.present? %>

  <%= field_value_styler('Description:', @rvparky.description) if @rvparky.description.present? %>

  <%= field_value_styler('Rating:', @rvparky.rating) %>

  <%= field_value_styler('Total Reviews:', @rvparky.review_count) if @rvparky.review_count.present?%>

  <% if @rvparky.amenities.present? %>
    <h5> Amenities: </h5>
    <% @rvparky.amenities.each do |amenity| %>
      <%= amenity.to_s %><%= ', ' unless amenity == @rvparky.amenities.last %>
    <% end %>
    <br />
  <% end %>

  <% if @rvparky.attributes.present? %>
    <h5> Attributes: </h5>
    <% @rvparky.attributes.each do |attribute| %>
      <%= attribute.to_s %><%= ', ' unless attribute == @rvparky.attributes.last %>
    <% end %>
    <br />
  <% end %>

  <br />

  <div class="panel-group" id="accordion">
    <%= collapse_button_generator('Images', 'R') if @rvparky.images.present? %>

    <%= collapse_button_generator('Reviews' , 'R') if @rvparky.reviews.present? %>

    <%= collapse_generator('Images', generate_rimages_entry, @rvparky.images, 'R') if @rvparky.images.present? %>

    <%= collapse_generator('Reviews', generate_rreviews_entry, @rvparky.reviews, 'R') if @rvparky.reviews.present? %>
  </div>

  <hr />
<% end %>

<% if @differences.present?%>
  <h4>Differences:</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h6>CATALOGUE:</h6>
    </div>
    <div class="col">
      <h6>RVPARKY:</h6>
    </div>
  </div>
  <% @differences.each do |diff| %>
    <% unless diff.match? %>
      <div class="row">
        <div class="col">
          <b><%= diff.catalogue_field + ': ' %></b>
          <%= diff.catalogue_value.to_s unless diff.catalogue_value.blank? %>
          <%= '[Blank]' if diff.catalogue_value.blank? %>
        </div>
        <div class="col">
          <b><%= diff.rvparky_field + ': '%></b>
          <%= diff.rvparky_value.to_s unless diff.rvparky_value.blank? %>
          <%= '[Blank]' if diff.rvparky_value.blank? %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% end %>
