<nav class="navbar navbar-expand navbar-dark bg-info">
  <%= link_to "Campground Compare", root_path, :class => 'navbar-brand' if current_user.present? %>
  <%= link_to "Campground Compare", new_user_session_path, :class => 'navbar-brand' if current_user.blank?%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= header_generator('Check for Changes', check_path) if current_user.present?%>

      <%= header_generator('Parks', marked_park_index_path) if current_user.present? %>

      <%= header_generator('Manage Users', user_index_path) if current_user.try(:admin?) %>

      <%= header_generator('Change Password', password_path) if current_user.present? %>

      <% #A special case for links, where the method is not get.
        %>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'nav-link' if current_user.present? %>
      </li>
    </ul>
  </div>
</nav>