<!DOCTYPE html>
<html>
  <head>
    <!-- Getting access to font awesome icons. -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title><%= generate_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <br />
      <div class="container-fluid">
        <% flash.each do |message_type, message| %>
          <% if message_type.upcase.include? 'ALERT'%>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% elsif message_type.upcase.include? 'SUCCESS' %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% elsif message_type.upcase.include? 'WARNING' %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% else%>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        <% end %>

        <h1><%= yield(:title) %></h1>
        <hr/>

        <%= yield %>

        <% if Rails.env.development? %>
        <hr/>
            <div class="card card-body">
              <%= debug(params) %>
            </div>
        <% end %>
      </div>
  </body>
</html>